@import '~style/helpers';
@import '~style/button';

.recipes {
	padding: 1em;
}

.recipes .list {
  list-style: none;
}

.recipes .list .item {
  justify-content: space-between;
  align-items: center;
  padding: 0;

  color: $bg;
  text-align: left;

  background: $cream;
  border-left: 10px solid $cream;
}

.recipes .list .item > div {
  float: left;
  width: 70%;
  padding: 1em 1em 1.5em;

  border-right: 2px solid rgba(0, 0, 0, .025);
}

.recipes .list .item > div:nth-child(n+2) {
  float: left;
  width: 15%;
  
  text-align: center;
}

.recipes .list .item .name {
  display: block;
}

.recipes .list .item .author {
  display: block;

  font-size: .9em;
  font-weight: 500;
}

.recipes .list .item .abbr {
  display: block;

  font-size: .8em;
  letter-spacing: .13em;
  font-weight: 400;
}
