@import '~style/helpers';
@import '~style/button';

.brews {
	padding: 1em;
}

.brews .list {
  list-style: none;
}

.brews .list .item {
  justify-content: space-between;
  padding: 0;

  color: $bg;
  text-align: left;

  background: $cream;
}

.brews .list .item > div {
  padding: 1em 1em 1.5em;
}

.brews .list .item .name {
  display: block;

  font-weight: 600;
}

.brews .list .item .author {
  display: block;
  font-size: .9em;
}

@keyframes progressRotate {
  to {
    transform-origin: center;
    transform: rotate(360deg);
  }
}

.brews .list .item .progress {
  float: left;
  margin: .2em .5em;
  line-height: 0;

  animation: progressRotate 2.5s infinite linear;
}

.brews .list .item .state {
  float: right;
  padding: .5em 1em;

  text-transform: uppercase;
  font-size: .75em;
  font-weight: 600;
  color: rgba(0, 0, 0, .5);

  transform: translateY(-.25em);

  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.brews .list .item .stateBrewing {
  background: $success;
}

.brews .list .item .stateReady {
  background: $brand;
}

.brews .list .item .stateDone {
  background: rgba(0, 0, 0, .25);
}
