@import '~style/helpers';
@import '~style/button';

.recipe {
	padding: 1em;
}

.recipe .info {
  padding: 1em 1em 1.5em;
  margin-bottom: 1em;

  background-color: rgba($white, .15);
}

.recipe .info .name {
  color: rgba($white, 0.95);
}

.recipe .info .author {
  display: block;
  padding: 0 1em;

  font-weight: 400;
  text-align: right;
  color: rgba($black, 0.5);
}
