@import '~style/helpers';
@import '~style/button';

.profile {
  padding: 1em;
}

.profile input {
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  max-width: 100%;

  color: $white;
  font: inherit;
  font-weight: 500;
  font-size: 1.5em;

  background: rgba($black, .2);
  border: 0;
}
