@import '~style/helpers';

.progress {}

.container,
.bar {
  fill: transparent;
}

.container {
  position: absolute;
  stroke: rgba(0, 0, 0, .1);
}

.bar {
  stroke: $success;
}

.text {
  fill: $success;
  font-weight: 600;
  font-size: 1.5em;
}
