@import '~style/list';

.list .item > div:nth-child(n+2) {
  float: left;
  width: 15%;

  text-align: center;
}

.list .item .abbr {
  display: block;

  font-size: .8em;
  letter-spacing: .13em;
  font-weight: 400;
}
