@import '~style/helpers';

.alert {
  z-index: 10;
  position: fixed;
  bottom: .5em;
  left: 0;
  padding: .5em 1em;

  color: white;

  background: rgba($black, .85);

  animation: fadeInOut 3s ease-in-out forwards;
}
