@import '~style/helpers';
@import '~style/button';

.brew {
	padding: 1em;
}

.brew .info {
  position: relative;
}

.brew .info .name {
  flex: 1;
  color: rgba($white, 0.95);
}

.brew .info .author {
  display: block;
  padding: 0 1em;

  font-weight: 400;
  text-align: right;
  color: rgba($black, 0.5);
}

.brew .timeline {}

.brew .timeline .item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 2.25em 0;
  list-style: none;

  background: $cream;
  box-shadow: 0 5px 0 rgba($black, .15);
}

.brew .timeline .item::before {
  z-index: 10;
  content: '';
  position: absolute;
  display: block;
  width: 5px;
  height: 2em;
  top: -2.25em;
  left: 49px;

  background: $pinkish;
}

.brew .timeline .item::after {
  z-index: 5;
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: -5px;
  left: 47px;

  box-shadow: 0 0 0 4px $bg;
  border-radius: 50%;
  background: $pinkish;
}

.brew .timeline .itemCompleted {
  background: $success;
}

.brew .timeline .itemCompleted::before,
.brew .timeline .itemCompleted::after {
  background: $success;
}

.brew .timeline .item > div {
  padding: 1em;
}

.brew .timeline .item > div:first-child {
  width: 15%;
  padding: 0 1em;

  line-height: 2em;
  font-size: 2.25em;
  color: rgba(0, 0, 0, .25);
}

.brew .timeline .item .timeToStart {
  margin-bottom: .5em;

  font-weight: 500;
  color: rgba($black, .6);
  font-size: .89em;
}

.brew .timeline .item .description {
  font-weight: 700;
  color: rgba($black, .75);
}
