@import '~style/helpers';

.header {
  display: flex;
  padding: 0 1em;

  background: $brand;
}

.header h1 {
  flex-grow: 1;
  padding: .75em 0;
  padding-left: 1em;

  font-size: 1.5em;
  font-weight: 500;
  color: black;

  background-image: url('../../assets/malt.svg');
  background-repeat: no-repeat;
  background-size: auto 55%;
  background-position: left center;

  opacity: .85;

  transition: opacity .15s ease-in;
}

.header h1:hover {
  opacity: 1;
}

.header nav {
  display: flex;
  flex-grow: 1;
}

.header nav a {
  flex-grow: 1;
  padding: 1.5em 0;

  color: #EEE;
  text-align: center;
  background: rgba(255,255,255,0);
  text-decoration: none;

  will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
  background: rgba(255,255,255,0.3);
}
