@import 'helpers';

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	height: 100%;
}
