@import 'helpers';

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;

  background: lighten($bg, 5%);
}

#app {
	min-height: 100%;
  margin: 0 auto;
  max-width: 50em;

  background: $bg;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}
