body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
	font-weight: 300;
	color: $white;
  text-rendering: optimizeSpeed;
}

h1 {
  letter-spacing: .13em;
  font-family: 'Georgia', serif;
  font-weight: 600;
  text-transform: uppercase;
}
