body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
	font-weight: 300;
	color: $darkBrown;
  text-rendering: optimizeSpeed;
}

h1 {
  margin-bottom: .5em;

  letter-spacing: .25em;
  font-weight: 700;
  font-size: 2.75em;
  line-height: 1em;
  text-transform: uppercase;
}
