$white: #FFF;
$grey: #656565;
$black: #111;
$green: #57DF27;
$red: #B73A3A;
$pink: #DF2763;
$cream: #FCEDCA;
$pinkish: #E49D87;

$brown: #943938;
$darkBrown: darken($brown, 20%);

$fail: $red;
$success: $green;

$bg: $brown;
$brand: $pink;
