$white: #FFF;
$grey: #656565;
$black: #111;
$green: #8FE25B;
$blue: #3688CE;
$red: #CE3636;
$pink: #DF2763;
$cream: #FCEDCA;
$pinkish: #E49D87;

$brown: #823231;
$darkBrown: darken($brown, 20%);

$info: $blue;
$fail: $red;
$success: $green;

$bg: $brown;
$brand: $pink;

// breakpoints

$extra-small: 20em;
$small: 35em;
